@font-face {
  font-family: 'BAUBODB';
  src: url('BAUBODB.eot');
  src: url('BAUBODB.eot?#iefix') format('embedded-opentype'),
       url('BAUBODB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BauerBodoniBT-Bold';
  src: url('BauerBodoniBT-Bold.svg#BauerBodoniBT-Bold') format('svg'),
       url('BauerBodoniBT-Bold.ttf') format('truetype'),
       url('BauerBodoniBT-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

